.Login {
    width: 100%;
    height: 100%;
    background-color: #00619d;
}

.LoginForm {
    transform: translateY(150%);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}